<!DOCTYPE html>
<html xmnls:th= "http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">
    <head  th:replace= "/fragments/head :: head">
        <title>Biblioteca - Modificar Libro</title>
    </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
        <div class="container">
            <!--formulario-->
            <form class="formulario" th:action="@{/libros/modificar/__${libro.isbn}__}" method="POST">

                <input hidden th:value="${isbn}" name="isbn">

                <div class="mb-3">
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Titulo</label>
                        <input th:value="${libro.titulo}" type="text" class="form-control" name="titulo" th:placeholder="${libro.titulo}">            
                    </div>  

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Ejemplares</label>
                        <input th:value="${libro.ejemplares}" type="number" class="form-control" name="ejemplares" th:placeholder="${libro.ejemplares}" aria-describedby="emailHelp">
                    </div>   

                    <div class="form-group my-3">
                        <select  name="idAutor">
                            <option>Seleccionar Autor</option>
                            <option th:each="autor : ${autores}"
                                    th:value="${autor.id}"
                                    th:text="${autor.name}"/>
                        </select> 
                    </div>

                    <div class="form-group my-3">
                        <select name="idEditorial">
                            <option>Seleccionar Editorial</option>
                            <option th:each="editorial : ${editoriales}"
                                    th:value="${editorial.id}"
                                    th:text="${editorial.name}"/>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Actualizar</button>

                </div>
            </form>
        </div>
        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title"> Error</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-danger mb-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title"> Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <!--script-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK4LJStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTElPi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WOlclHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXBlrRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
